@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200eef&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #264653;
}

.App {
  text-align: center;
}
* {
  margin: 0;
}

.lettreEspace {
  letter-spacing: 1px;
  line-height: 1.3;
  /* line-height: 4vh; */
}

@media screen and (min-width: 750px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
    height: 2.5vh;
  }

  button {
    border: 1px #2a9d8f solid;
    background-color: #2a9d8f;
    color: #fff;
    padding: 0.5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 3px 3px 0 0;
  }

  button:hover {
    transform: scale(1.2);
  }

  button:focus {
    transform: scale(1.2);
  }

  .active {
    transform: scale(1.2);
  }

  /* .categorySepare {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  } */
  .content {
    background-color: #2a9d8f;
    color: #fff;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 80vh;
  }

  .commu {
    display: flex;
    align-items: center;
  }

  .commu img {
    width: 25%;
  }

  .rules img {
    width: 50%;
    height: auto;
  }

  .categorySquare {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10vh;
    /* grid-template-rows: repeat(2, 1fr); */
  }

  /* .one {
    grid-column: 1/2;
    grid-row: 1;
  } */
}

.emojiBalance {
  font-size: 20vh;
}

.imgVie {
  width: 10vw;
}

@media screen and (max-width: 750px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  nav button {
    border: 1px #2a9d8f solid;
    background-color: #2a9d8f;
    color: #fff;
    padding: 1vh;
    margin: 2px;
    border-radius: 3px;
  }

  .active {
    transform: scale(0.9);
  }

  .content {
    background-color: #2a9d8f;
    color: #fff;
    margin-top: 3vh;
    padding-top: 0;
    min-height: 60vh;
  }

  .page img {
    display: none;
  }

  .commu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.page {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.categorySepare ul li {
  list-style: none;
}

.footer {
  position: fixed;
  align-items: center;
  text-align: center;
  bottom: 4px;
  width: 100%;
  color: #f4a261;
}

.titre {
  color: #f4a261;
}
